---
import ButtonLink from '../components/ButtonLink.astro';
import Header from '../components/Header.astro';
import RoleList from '../components/RoleList.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Lisa Pasichnyk - UI/UX Designer</title>
  </head>
  <body class='bg-[#0B0A0B] text-main font-sans'>
    <main class='max-w-6xl mx-auto px-12'>
      <Header />
      <section class='first_section'>
        <div class='img-blok'>
          <img src='/1.png' alt='Charity App' class='' />
        </div>
        <div class='text-blok'>
          <h2 class='mb-4'>Increase donations to charity fund</h2>
          <h3 class=''>Client request</h3>
          <ul class='list-disc ml-8'>
            <li class='mb-4'>Create a Patreon-like donation platform</li>
          </ul>
          <h3 class=''>Context</h3>
          <ul class='list-disc ml-8'>
            <li>Made during product design competition DEV Challenge</li>
            <li>8 hours to create the project</li>
            <li>Fund has lack of budget and time</li>
          </ul>
          <h3 class=''>Main idea</h3>
          <ul class='list-disc ml-8'>
            <li class='mb-4'>
              New flow: Donate → Get achievements → Share in socials
            </li>
          </ul>
          <RoleList roles={['Full process']} />

          <div class='mt-4 flex items-center justify-center'>
            <ButtonLink
              label='View project'
              link='https://www.figma.com/proto/NAJrfdFEIoeQeWl3u5kW99/Come-back-alive?page-id=0%3A1&node-id=303-41102&viewport=-925%2C-901%2C0.11&t=2aAwEsLZ13RphX1N-8&scaling=scale-down-width&starting-point-node-id=303%3A41102&show-proto-sidebar=1&hide-ui=1'
            />
          </div>
        </div>
      </section>

      <section class=''>
        <div class='img-blok'>
          <img src='/2.png' alt='Real Estate App' class='' />
        </div>
        <div class='text-blok'>
          <h2 class='text-3xl font-bold mb-4'>
            Increase retention for Real estate website
          </h2>
          <h3 class='text-xl font-semibold'>Client request</h3>
          <ul class='list-disc ml-8'>
            <li class='mb-4'>Increase retention</li>
          </ul>
          <h3 class='text-xl font-semibold'>Context</h3>
          <ul class='list-disc ml-8'>
            <li>Made during the Projector Medium UX design course</li>
            <li>In collaboration with 4 designers</li>
          </ul>
          <h3 class='text-xl font-semibold'>Main idea</h3>
          <ul class='list-disc ml-8'>
            <li class='mb-4'>Make flow mobile-friendly</li>
          </ul>
          <RoleList
            roles={[
              'Team lead',
              'Structuring work',
              'Research',
              'Design',
              'Presenting the solution to customer',
            ]}
          />

          <div class='mt-4 flex items-center justify-center'>
            <ButtonLink
              label='View project'
              link='https://www.figma.com/proto/j0VbewYlcf6qRUojVZdpKT/DIM.RIA?page-id=419%3A78248&node-id=2129-30958&viewport=867%2C-1%2C0.04&t=Dqfiq4scPINTH1R4-8&scaling=scale-down-width&hide-ui=1&fuid=1260951791851052033'
            />
          </div>
        </div>
      </section>

      <section class='custom-section'>
        <div class='img-blok mt-auto flex-col'>
          <img
            src='/3_1.png'
            alt='Improve Experience'
            class='max-w-[98px] mr-auto'
          />
          <img src='/3.png' alt='Improve Experience' class='' />
        </div>
        <div class='text-blok'>
          <h2 class='text-2xl font-bold mb-4'>
            Improve user experience for Ukrainian railway
          </h2>

          <h3 class=''>Context</h3>
          <ul class='list-disc ml-8'>
            <li>Problem-based on problem nested</li>
          </ul>
          <h3 class=''>Problem</h3>
          <ul class='list-disc ml-8'>
            <li>Passengers are waiting for number of platform on board</li>
            <li>
              Passengers need to come early to see number and go to platform
            </li>
          </ul>
          <h3 class='text-xl font-semibold mt-4'>Main idea</h3>
          <ul class='list-disc ml-8'>
            <li>Get notifications about platform updates faster</li>
          </ul>
          <RoleList roles={['Full process']} />
          <div class='mt-4 flex items-center justify-center'>
            <ButtonLink
              label='View Figma file'
              link='https://www.figma.com/proto/0Rt2wMBwmsLWPdm1o4mwn0/Tram?page-id=0%3A1&node-id=116-870&viewport=204%2C243%2C0.25&t=0mBNLD8qivxnKzBH-8&scaling=scale-down-width&hide-ui=1&fuid=1260951791851052033'
            />
          </div>
        </div>
      </section>
      <section class='custom-section'>
        <div class='img-blok'>
          <img src='/4.png' alt='Design System' class='' />
        </div>
        <div class='text-blok'>
          <h2 class='text-2xl font-bold mb-4'>Design system Atoms and rules</h2>

          <h3>Context</h3>
          <ul class='list-disc ml-8'>
            <li>
              Design system was created from scratch from the moment I joined
              the company
            </li>
            <li>
              Six months later, it was developed together with two junior
              designers
            </li>
          </ul>
          <h3>Problem</h3>
          <ul class='list-disc ml-8'>
            <li>Developers created UI without a designer</li>
            <li>
              Product was not consistent, not user-friendly, and the creation
              process was long
            </li>
          </ul>
          <RoleList
            roles={['Founder', 'Rules writer', 'Negotiator with developers']}
          />

          <div class='mt-4 flex items-center justify-center'>
            <ButtonLink
              label='View Figma file'
              link="https://www.figma.com/design/FlPfgEDwGlYKcPyFtFU9lS/Part-of-Design-system-(portfolio)?node-id=2005-36139&t=RX7UnHVaKiDiksvX-1&fuid=1260951791851052033'"
            />
          </div>
        </div>
      </section>
      <section class='custom-section'>
        <div class='img-blok'>
          <img src='/5.png' alt='Commercial Projects' class='' />
        </div>
        <div class='text-blok'>
          <h2 class='text-2xl font-bold mb-4'>Commercial projects</h2>

          <ul class='list-disc'>
            <li class='mb-2 -indent-0'>
              Created dashboard templates for IoT devices for different
              industries
            </li>
            <li class='mb-2 -indent-0'>
              Created 40+ new widgets and redesigned 90+ old widgets and
              settings
            </li>
            <li class='mb-2 -indent-0'>
              Redesigned structures with many links and documented the main
              principles of redesign:
              <ul class='list-dash'>
                <li class='!text-secondary mb-1'>
                  redesigned the interface for node programming
                </li>
                <li class='!text-secondary mb-1'>
                  redesigned 93 widget settings to improve usability
                </li>
              </ul>
            </li>
            <li class='mb-2 -indent-0'>
              Designed new non-standard structures:
              <ul class='list-dash'>
                <li class='!text-secondary mb-1'>
                  functionality to create alert rules with 3 levels of hierarchy
                </li>
                <li class='!text-secondary mb-1'>
                  notification center: set up notifications from different
                  sources
                </li>
                <li class='!text-secondary mb-1'>
                  integration center: settings for 20+ types of integrations
                </li>
              </ul>
            </li>
            <li class='mb-2 -indent-4'>
              Created templates for creating projects, dashboards, widgets for
              design consistency
            </li>
          </ul>
          <RoleList
            roles={[
              'Team lead',
              'Facilitator',
              'Manager',
              'Interviewer',
              'Market research',
              'Competitive analysis',
              'Usability tests',
            ]}
          />

          <div class='mt-4 flex items-center justify-center'>
            <ButtonLink
              label='View project'
              link='https://www.figma.com/proto/j0VbewYlcf6qRUojVZdpKT/DIM.RIA?page-id=419%3A78248&node-id=2129-30958&viewport=867%2C-1%2C0.04&t=Dqfiq4scPINTH1R4-8&scaling=scale-down-width&hide-ui=1&fuid=1260951791851052033'
            />
          </div>
        </div>
      </section>
    </main>
    <footer class='relative text-center bg-cover bg-center bg-no-repeat'>
      <div class='py-[92px] z-[10] relative'>
        <h2 class='text-white'>Get in touch!</h2>
        <div class='mt-4 flex items-center justify-center'>
          <ButtonLink
            label='Linkedin'
            link='https://www.linkedin.com/in/lisa-pasichnyk/'
          />
        </div>
      </div>
    </footer>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

      section {
        background: linear-gradient(79.11deg, #121112 2.53%, #0a0a0a 97.19%);
        border: 1px solid #ffffff0a;
        @apply my-6 rounded-3xl flex flex-col items-center justify-between odd:md:flex-row even:md:flex-row-reverse;
      }

      .text-blok {
        @apply w-full md:w-1/2 px-12 my-10;
      }
      .img-blok {
        @apply w-full md:w-1/2 flex justify-center items-center;
      }
      footer {
        background-image: url('/bg-footer.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* background-size: 100% auto; */
      }

      .list-dash {
        list-style-type: none;
      }

      .list-dash li::before {
        content: '–';
        margin-right: 0.5em;
      }
      .first_section {
        background: linear-gradient(
          79.12deg,
          #121112 2.53%,
          #141414 91.02%,
          #121112 98.33%
        );
      }
      h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 130%;
        color: #dcdcdc;
      }
      h3 {
        font-style: normal;
        font-size: 18px;
        line-height: 130%;
        color: #626262;
        @apply mt-8 font-medium;
      }
      li {
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #a4a4a4;
        text-indent: -0px;
        @apply mb-2 -indent-0;
      }
    </style>
  </body>
</html>
