---
// ButtonLink.astro
const { label, link } = Astro.props;
---

<a href={link} target='_blank' rel='noopener noreferrer'>
  <button
    class='bg-white p-2 bg-opacity-[0.02] border-[1px] rounded-full border-opacity-5 border-white hover:bg-opacity-10 transition'
  >
    <div
      class='bg-white text-black py-1 px-4 rounded-full hover:bg-slate-100 transition'
    >
      {label}
    </div>
  </button>
</a>
