---

---

<header
  class='flex flex-col md:flex-row max-w-6xl md:px-12 px-1 justify-between items-center md:mb-8 mb-6 pt-10'
>
  <div class='flex flex-col mb-4 mr-auto ml-4 md:ml-0'>
    <h1 class='text-[40px] leading-[47px] font-bold mb-3'>Lisa Pasichnyk</h1>
    <h2 class='text-lg leading-[21px] text-secondary'>UI/UX designer</h2>
  </div>
  <nav
    class='flex flex-col gap-2 md:items-end items-center mt-0 md:mt-2 text-secondary'
  >
    <div class='flex gap-4'>
      <a
        href='https://t.me/lisa_pasichnyk'
        target='_blank'
        class='underline hover:no-underline'>Telegram</a
      >
      <a
        href='https://www.linkedin.com/in/lisa-pasichnyk/'
        target='_blank'
        class='underline hover:no-underline'>LinkedIn</a
      >
    </div>
    <a
      href='mailto:yelyzaveta.pasichnyk@gmail.com'
      target='_blank'
      class='underline hover:no-underline'>yelyzaveta.pasichnyk@gmail.com</a
    >
  </nav>
</header>
