---

---

<header class='flex max-w-6xl mx-auto px-12 justify-between items-center mb-8 pt-10'>
  <div class='flex flex-col gap-3'>
    <h1 class='text-4xl font-bold '>Lisa Pasichnyk</h1>
    <h2 class='text-xl text-primary'>UI/UX designer</h2>
  </div>
  <nav class='flex flex-col gap-2 items-end pt-2 text-primary'>
    <div class='flex gap-4'>
      <a href='#' class=''>Telegram</a>
      <a href='#' class=''>LinkedIn</a>
    </div>
    <a href='mailto:yelyzaveta.pasichnyk@gmail.com'>yelyzaveta.pasichnyk@gmail.com</a>
  </nav>
</header>
