---

---

<header class='text-center py-8 bg-gray-900'>
  <h1 class='text-4xl font-bold text-white'>Lisa Pasichnyk</h1>
  <p class='text-xl text-gray-400'>UI/UX designer</p>
  <nav class='mt-4'>
    <a href='#' class='text-blue-500 hover:underline mx-2'>Telegram</a>
    <a href='#' class='text-blue-500 hover:underline mx-2'>LinkedIn</a>
    <a href='mailto:yelyzaveta.pasichnyk@gmail.com' class='text-blue-500 hover:underline mx-2'>yelyzaveta.pasichnyk@gmail.com</a>
  </nav>
</header>
